<div class="sidebar" resizable r-directions="['right']">
    <button class="btn" ng-click="main.openProject()">Open Project</button>
    <button class="btn" ng-click="main.openFolder()" ng-disabled="projectsFolder">Open Folder</button>

    <div class="sidebar-header entypo-folder"> {{folder.name}}</div>

    <treecontrol class="tree-dark" ng-if="!projectsFolder" tree-model="folder" options="treeOptions" on-node-toggle="main.currentFolder(node)">
        <span ng-switch="node.type">
			<span ng-switch-when="directory" class="entypo-folder" aria-hidden="true"></span>
        <span ng-switch-when="file" class="entypo-newspaper" aria-hidden="true"></span>
        </span> {{node.name}}
    </treecontrol>

    <treecontrol class="tree-dark" ng-if="workFolder" tree-model="folder" options="treeOptions" on-selection="main.openFile(node)">
        <span ng-switch="node.type">
			<span ng-switch-when="directory" class="entypo-folder" aria-hidden="true"></span>
        <span ng-switch-when="file" class="entypo-newspaper" aria-hidden="true"></span>
        </span> {{node.name}}
    </treecontrol>

</div>

<div class="editor" ui-ace="{ mode: 'javascript', theme: 'monokai',onLoad: aceLoaded, onChange: aceChanged}" ng-model="code"></div>