<div class="sidebar">
    <div class="sidebar-header entypo-folder"> {{folder.name}}</div>
    <treecontrol class="tree-dark" tree-model="folder" options="treeOptions" on-selection="showSelected(node)">
        <span ng-switch="node.type">
			<span ng-switch-when="directory" class="entypo-folder" aria-hidden="true"></span>
        <span ng-switch-when="file" class="entypo-newspaper" aria-hidden="true"></span>
        </span> {{node.name}}
    </treecontrol>
</div>

<div class="editor">
    kkkkkk
</div>