kb-audio-player {
  align-items: center;
  background: black;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
  position: absolute;
  width: 100%;

  * {
    color: black;
  }

  md-slider.md-default-theme .md-track.md-track-fill,
  md-slider .md-track.md-track-fill {
    background-color: $candy-blue;
  }

  md-slider.md-default-theme .md-thumb:after,
  md-slider .md-thumb:after {
    border-color: $candy-blue;
    background-color: $candy-blue;
  }

  md-slider.md-default-theme .md-sign:after,
  md-slider .md-sign:after {
    border-top-color: $candy-blue;
  }

  md-slider.md-default-theme .md-sign,
  md-slider .md-sign {
    background-color: $candy-blue;
  }

  input[type=range] {
    appearance: none;
    background-color: #feebc5;
    background-image: linear-gradient(#9e6957, #9e6957);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    border-radius: 10px;
    cursor: pointer;
    height: 6px;
    margin: auto;
    outline: none;
    padding: 0;
    width: 50%;

    &::-webkit-slider-runnable-track {
      appearance: none;
      background: transparent;
      border: 0;
      box-shadow: none;
    }

    &::-moz-range-track {
      box-shadow: none;
      border: 0;
      background: transparent;
    }
}

input[type=range]::-webkit-slider-runnable-track {
    appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: 0;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: $white;
    border-radius: 100%;
    border: 0;
    box-shadow: 0 0 1px 0px rgba($black,0.1);
    height: 14px;
    width: 14px;
}

input[type=range]::-moz-range-thumb {
    background: $white;
    border-radius: 100%;
    border: 0;
    box-shadow: 0 0 1px 0px rgba($black,0.1);
    height: 14px;
    width: 14px;
}

  button {
    background: $color2;
    border-radius: 2px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  md-slider {
    width: 100%;
  }

  .controls {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .time-controls {
    flex-direction: column;
    .current-time {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;

      .time {
        padding-left: 12px;
      }
    }
  }

  .song-info {
    flex-direction: column;
  }

  .cover-art {
    position: relative;

    .cover-image {
      width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity linear 250ms;

      .play-pause {
        border-radius: 50%;
        opacity: 0.7;
        transition: opacity linear 150ms;

        &:hover {
          opacity: 1;
        }

        .material-icons {
          font-size: 90px;
        }

      }

    }
  }

  .volume-controls,
  .time-controls {
    padding: 10px;
  }

  .audio-player {
    background: rgba($white, 0.8);
    border-radius: 5px;
    margin: 20px;
    position: relative;
    top: 50px;
    width: 300px;

    &:hover .overlay {
      opacity: 1;
    }
  }
}
