.blue-text {
	color: #6BCAE2;
}

.orange-text {
	color: #D1813C;
}

.green-text {
	color: #87E293;
}

.glowing-green-text {
	color: #00DDA1;
}

.grey-text {
	color: #93A3A7;
}

.brown-text {
	color: #CA8E59;
}

.light-green-text {
	color: #A7EBBE;
}

.emo-pink-text {
	color: #C74F8C;
}