.granny-smith-icon {
	color: #91a2a8;
}

.hippie-blue-icon {
	color: #5aa1b5;
}

.copperfield-icon {
	color: #d28c5d;
}

.magic-mint-icon {
	color: #9febc1;
}

.tall-poppy-icon {
	color: #a93c2a;
}

.red-damask-icon {
	color: #db7e44;
}

.jungle-mist-icon {
	color: #b0d1d1;
}

.caribbean-green-icon {
	color: #00dfa7;
}

.macaroni-and-cheese-icon {
	color: #fdba75;
}

.sapling-icon {
	color: #e1dda3;
}

.denim-icon {
	color: #176fb2;
}

.tuscany-icon {
	color: #cd6732;
}

.indigo-icon {
	color: #5e78c0;
}

.rose-fog-icon {
	color: #e1afa9;
}

.mulberry-icon {
	color: #d1508a;
}

.indochine-icon {
	color: #cf7a08;
}

.key-line-pie-icon {
	color: #b3ce20;
}

.spindle-icon {
	color: #bbc5e9;
}

.scarlet-icon {
	color: #ff2f00;
}

.blaze-orange-icon {
	color: #ff5d00;
}

.selective-yellow-icon {
	color: rgb(255, 188, 0);
}