kb-font-viewer {

  display: flex;

  //#font-data h3 {
  //  background-color: #f8f8f8;
  //  cursor: pointer;
  //  font-weight: normal;
  //  margin: 0;
  //}

  //#font-data h3.expanded::before {
  //  content: "â–¼ ";
  //  font-size: 85%;
  //}

  //#font-data h3.collapsed::before {
  //  content: "â–º ";
  //  font-size: 85%;
  //}

  //#font-data h3.collapsed + dl {
  //  display: none;
  //}

  //#font-data dl {
  //  color: #707070;
  //  margin-top: 0;
  //  padding-left: 2em;
  //}

  //#font-data dt {
  //  float: left;
  //}

  //#font-data dd {
  //  margin-left: 12em;
  //  max-height: 100px;
  //  overflow-y: auto;
  //  word-break: break-all;
  //}

  //#font-data .langtag {
  //  color: #999;
  //  font-size: 85%;
  //  white-space: nowrap;
  //}

  //#font-data .langname {
  //  padding-right: 0.5em;
  //}

  //#file {
  //  color: #999;
  //  float: left;
  //  font-size: 11px;
  //}

  /* Glyph Inspector */

  .pagination span {
    color: $grey3;
    cursor: pointer;
    margin: 0 0.3em;
    &.page-selected {
      color: $black;
      font-weight: bold;
    }
  }

  //.pagination span.page-selected {
  //  color: $black;
  //  font-weight: bold;
  //}

  canvas.item {
    //background: rgba(255, 255, 255, 0.1);
    background: $grey3;
    border: solid 1px $grey4;
    cursor: pointer;
    float: left;
    margin-bottom: -1px;
    margin-right: -1px;
  }

  canvas.item:hover {
    background: $dark-white;
  }

  #glyph-list-end {
    clear: both;
    height: 20px;
  }

  #glyph-display {
    border: solid 1px $grey4;
    float: left;
    height: 250px;
    position: relative;
    width: 250px;
  }

  #glyph,
  #glyph-bg {
    left: 0;
    position: absolute;
    top: 0;
  }

  #glyph-data {
    float: left;
    margin-left: 2em;

    dl {
      margin: 0;
    }

    dt {
      float: left;
    }

    dd {
      margin-left: 12em;
    }

    pre {
      font-size: 11px;
    }
  }

  pre:not(.contour) {
    margin: 0;
  }
  pre.contour {
    border-bottom: solid 1px $grey4;
    margin: 0 0 1em 2em;
  }
  // Used for dots that we don't use
  //span.oncurve {
  //  color: #0000ff;
  //}
  //span.offcurve {
  //  color: #ff0000;
  //}

  .glyphs-table-container {
    margin-left: 10px;
    margin-right: 10px;

    .glyphs-table {
      min-width: 231px;
    }
  }

  .glyph-view-container {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 10px;
    width: 250px;
  }

  .info.unicode, .info.index {
    float: right;
  }

  .item.selected-glyph {
    background: $candy-yellow;
  }
}
