// scss-lint:disable NestingDepth
// scss-lint:disable SelectorDepth
// scss-lint:disable ColorVariable
kb-menu-bar {
  .project-logo-container {
    height: 105px;
    width: 105px;

    .logo {
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
      display: flex;
      height: 90px;
      justify-content: center;
      line-height: 100%;
      width: 90px;

      .kibibit-logo {
        color: darken(#313131, 2%);
        font-size: 200%;
        line-height: 100%;
        text-shadow: 0 1px 1px lighten(#313131, 5%);
      }

      .folder {
        font-size: 200%;
        line-height: 100%;
      }
  	}
  }

  .md-toolbar-tools {
    padding-top: 28px;
  }
}

// scss-lint:enable NestingDepth
// scss-lint:enable SelectorDepth
// scss-lint:enable ColorVariable
