.sidebar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  white-space: nowrap;
  width: 100%;
}

.sidebar-container {
  background: $color1;
  color: $primary;
  overflow: hidden;
  padding: 10px;
}