.zombie-0 {
  background: url("../images/zombiewalk.png");
  position: fixed;
  bottom: 10px;
  width: 63px;
  z-index: 999999;
  height: 57px;
  left: 0%;
  cursor: crosshair;
  -webkit-animation-name: zombiemove, zombiewalk, mirror;
  -webkit-animation-duration: 50s, 1s, 50s;
  -webkit-animation-timing-function: linear,steps(2, end), steps(1, end);
  -webkit-animation-iteration-count: infinite, infinite, infinite;
  -webkit-animation-direction: normal, normal, normal;
}

@-webkit-keyframes zombiewalk{from{background-position:0 0}to{background-position:-126px 0}}
@-webkit-keyframes zombiemove{0%{left:0%}50%{left:95%}100%{left:0%}}
@-webkit-keyframes mirror{0%{-webkit-transform:scaleX(1)}50%{-webkit-transform:scaleX(-1)}100%{-webkit-transform:scaleX(1)}}

.zombie-1 {
  background: url("../images/zombiewalk.png");
  position: fixed;
  bottom: 10px;
  width: 63px;
  z-index: 999999;
  height: 57px;
  left: 95%;
  cursor: crosshair;
  -webkit-animation-name: zombiemove-two,zombiewalk,mirror-two;
  -webkit-animation-duration: 50s, 1s, 50s;
  -webkit-animation-timing-function: linear,steps(2,end),steps(1,end);
  -webkit-animation-iteration-count: infinite, infinite, infinite;
  -webkit-animation-direction: normal, normal, normal;
}

@-webkit-keyframes zombiemove-two{0%{left:95%}50%{left:0%}100%{left:95%}}
@-webkit-keyframes mirror-two{0%{-webkit-transform:scaleX(-1)}50%{-webkit-transform:scaleX(1)}100%{-webkit-transform:scaleX(-1)}}

#overlay {
  position: fixed;
  top: 50%;
  right: 35%;
  font-size: 72px;
  color: #000;
  font-weight: 600;
  opacity: 0;
  z-index: 99999;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  25% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  50% {
    -webkit-transform: scale(.9);
  }

  75% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation:bounceIn 1.5s;
}