<span ng-switch="fileNameCtrl.file.type">
	<!-- ARCHIVE FILES -->
	<span ng-switch-when="7z" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="bzip" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="gz" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="project" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="rar" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="tgz" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="zip" class="octicon octicon-file-zip granny-smith-icon" aria-hidden="true"></span>

	<!-- IMAGE FILES -->
	<span ng-switch-when="gif" class="octicon octicon-file-media magic-mint-icon" aria-hidden="true"></span>
	<span ng-switch-when="ico" class="octicon octicon-file-media jungle-mist-icon" aria-hidden="true"></span>
	<span ng-switch-when="jpeg" class="octicon octicon-file-media sapling-icon" aria-hidden="true"></span>
	<span ng-switch-when="png" class="octicon octicon-file-media rose-fog-icon" aria-hidden="true"></span>
	<span ng-switch-when="svg" class="octicon octicon-file-media spindle-icon" aria-hidden="true"></span>
	<span ng-switch-when="tiff" class="octicon octicon-file-media scarlet-icon" aria-hidden="true"></span>

	<!-- CODE FILES -->
	<span ng-switch-when="coffee" class="openwebicons-html5 copperfield-icon" aria-hidden="true"></span>
	<span ng-switch-when="css" class="openwebicons-css3 hippie-blue-icon" aria-hidden="true"></span>
	<span ng-switch-when="html" class="openwebicons-html5 red-damask-icon" aria-hidden="true"></span>
	<span ng-switch-when="jade" class="openwebicons-html5 caribbean-green-icon" aria-hidden="true"></span>
    <span ng-switch-when="java" class="icon-prog-java hippie-blue-icon" aria-hidden="true"></span>
    <span ng-switch-when="js" class="octicon octicon-code macaroni-and-cheese-icon" aria-hidden="true"></span>
    <span ng-switch-when="less" class="openwebicons-css3 denim-icon" aria-hidden="true"></span>
    <span ng-switch-when="sass" class="openwebicons-css3 mulberry-icon" aria-hidden="true"></span>
    <span ng-switch-when="scss" class="openwebicons-css3 mulberry-icon" aria-hidden="true"></span>
    <span ng-switch-when="styl" class="openwebicons-css3 key-line-pie-icon" aria-hidden="true"></span>
    <span ng-switch-when="xml" class="octicon octicon-code blaze-orange-icon" aria-hidden="true"></span>
    <span ng-switch-when="ts" class="octicon octicon-code denim-icon" aria-hidden="true"></span>
    <span ng-switch-when="php" class="icon-prog-php01 indigo-icon" aria-hidden="true"></span>
    <span ng-switch-when="md" class="octicon octicon-markdown tuscany-icon" aria-hidden="true"></span>

    <!-- TEXT FILES -->
    <span ng-switch-when="log" class="octicon octicon-file-text granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="txt" class="octicon octicon-file-text granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="yml" class="octicon octicon-file-text granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="ls" class="octicon octicon-file-text granny-smith-icon" aria-hidden="true"></span>

    <!-- BINARY FILES -->
    <span ng-switch-when="eot" class="octicon octicon-file-binary granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="mp3" class="octicon octicon-file-binary granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="mp4" class="octicon octicon-file-binary granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="ttf" class="octicon octicon-file-binary granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="woff" class="octicon octicon-file-binary granny-smith-icon" aria-hidden="true"></span>

    <!-- DATA FILES -->
    <span ng-switch-when="json" class="octicon octicon-database macaroni-and-cheese-icon" aria-hidden="true"></span>
    <span ng-switch-when="sql" class="octicon octicon-database indochine-icon" aria-hidden="true"></span>
    
    <!-- MISC -->
    <span ng-switch-when="bat" class="openwebicons-html5 granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="conf" class="openwebicons-html5 granny-smith-icon" aria-hidden="true"></span>
    <span ng-switch-when="gitignore" class="openwebicons-css3 tall-poppy-icon" aria-hidden="true"></span>
	<span ng-switch-when="gitmodules" class="openwebicons-css3 tall-poppy-icon" aria-hidden="true"></span>
	<span ng-switch-when="htaccess" class="openwebicons-css3 granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="htpasswd" class="openwebicons-html5 granny-smith-icon" aria-hidden="true"></span>
	<span ng-switch-when="npmignore" class="openwebicons-html5 tall-poppy-icon" aria-hidden="true"></span>

	<span ng-switch-when="directory" class="entypo-folder selective-yellow-icon" aria-hidden="true"></span>
    <span ng-switch-default class="entypo-newspaper granny-smith-icon" aria-hidden="true"></span>
</span> {{fileNameCtrl.file.name}}