* {
  border: 0;
  margin: 0;
  outline: none;
  padding: 0; }

/************
 * Headings
 ************/
.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -0.010em;
  line-height: 112px; }

h1 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 56px;
  color: #f1787d; }

h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
  color: #f1787d; }

h3 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  color: #f1787d; }

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #f1787d; }

h5 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  color: #f1787d; }

h6 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px;
  color: #f1787d; }

/************
 * Body Copy
 ************/
p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 20px;
  color: grey; }

.md-body-2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.010em;
  line-height: 24px; }

.md-caption {
  font-size: 12px;
  letter-spacing: 0.020em; }

.md-button {
  letter-spacing: 0.010em; }

/************
 * Defaults
 ************/
button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

select,
button,
textarea,
input {
  font-size: 100%; }

#custom-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5); }
  #custom-modal #overlay {
    margin: auto;
    max-width: 700px;
    min-height: 200px;
    max-height: 300px;
    background: white; }

.main-app-container {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 1s; }
  .main-app-container.app-initiated {
    opacity: 1; }

.loading-logo {
  transition: all 500ms ease;
  transition-delay: 800ms; }
  .loading-logo.app-initiated {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }

html {
  background: #464646;
  font-size: 14px; }

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #464646; }

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: #808080; }

body,
.ui-layout-column > .ui-splitbar {
  background: #464646;
  z-index: 5; }

.ui-layout-column > .ui-splitbar .glyphicon {
  color: #808080; }

.menu-bar-container {
  background: #464646;
  overflow: hidden; }

.main-view-container {
  background: #262626;
  color: #f1787d;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden; }

.tabs {
  height: 50px; }

.main-view {
  border-right: #464646 solid 10px;
  border-top: #464646 solid 10px;
  flex-grow: 1;
  position: relative; }

md-toolbar.md-menu-dark {
  background-color: #464646;
  color: #f1787d; }

md-toolbar h2.md-toolbar-tools {
  color: #f1787d; }

.ui-layout-column,
.ui-layout-row,
.ui-splitbar {
  overflow: hidden; }

file-name.directory {
  font-weight: normal; }

treecontrol {
  display: inline-block; }
  treecontrol * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased; }
  treecontrol .tree-expanded .tree-branch-head,
  treecontrol .tree-collapsed .tree-branch-head {
    background: #808080 !important;
    -webkit-mask-size: cover !important;
    mask-size: cover;
    pointer-events: none; }
  treecontrol .tree-expanded .tree-branch-head {
    -webkit-mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-down.svg") no-repeat 50% 50%; }
  treecontrol .tree-collapsed .tree-branch-head {
    -webkit-mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-right.svg") no-repeat 50% 50%; }
  treecontrol li .tree-label {
    left: -16px;
    padding-left: 16px;
    position: relative; }

.ngdialog {
  overflow: hidden; }
  .ngdialog.ngdialog-theme-default .ngdialog-content {
    bottom: 0;
    left: calc(50vw - 225px);
    margin: auto;
    max-height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10; }
    .ngdialog.ngdialog-theme-default .ngdialog-content .project-tree-container {
      bottom: 50px;
      left: 14px;
      min-height: 0;
      position: absolute;
      right: 14px;
      top: 28px; }
    .ngdialog.ngdialog-theme-default .ngdialog-content .buttons {
      background: #fafafa;
      bottom: 0;
      left: 0;
      padding: 8px;
      position: absolute;
      right: 0; }
  .ngdialog .tree-selected file-name.directory {
    font-weight: bold; }

.wrap {
  word-wrap: break-word; }

kb-file-tree {
  display: block; }

md-select-menu md-content {
  background-color: #464646;
  color: #808080; }

md-select-menu md-option {
  height: 2rem; }
  md-select-menu md-option:focus:not([disabled]):not([selected]) {
    background: rgba(38, 38, 38, 0.7); }
  md-select-menu md-option[selected] {
    color: #f1787d; }
    md-select-menu md-option[selected]:focus:not([disabled]) {
      background: rgba(38, 38, 38, 0.7);
      color: #f1787d; }
  md-select-menu md-option .md-text {
    font-size: 1rem; }

md-input-container {
  margin: 0; }
  md-input-container md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #f1787d;
    color: #f1787d; }
  md-input-container .md-select-icon {
    display: none; }

#loading-bar-spinner .spinner-icon {
  border: solid 4px transparent;
  border-left-color: #f1787d;
  border-top-color: #f1787d;
  height: 16px;
  width: 16px; }

#loading-bar .bar {
  background: #f1787d;
  height: 4px; }
  #loading-bar .bar .peg {
    display: none; }

kb-code-editor {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  kb-code-editor .editor {
    height: 100%;
    width: 100%; }
    kb-code-editor .editor.half-editor {
      display: inline-block;
      height: 100%;
      width: 50%; }
  kb-code-editor .compiled-view {
    bottom: 0;
    display: inline-block;
    left: 50%;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0; }
    kb-code-editor .compiled-view .json-formatter-row {
      color: #fafafa; }
  kb-code-editor .ace_editor .ace_gutter-cell.ace_info {
    background-image: url("../images/info.png");
    background-position: 0.3em 0.1em;
    background-size: 1em; }
  kb-code-editor .ace_editor .ace_gutter-cell.ace_warning {
    background-image: url("../images/warning.png");
    background-position: 0.3em 0.1em;
    background-size: 1em; }
  kb-code-editor .ace_editor .ace_gutter-cell.ace_error {
    background-image: url("../images/error.png");
    background-position: 0.3em 0.1em;
    background-size: 1em; }
  kb-code-editor .ace_editor .ace_marker-layer .ace_selection {
    background: rgba(241, 120, 125, 0.6); }
  kb-code-editor .ace_editor .ace_marker-layer .ace_selected-word {
    border: 1px solid rgba(239, 97, 103, 0.8); }
  kb-code-editor .ace_editor .ace_search.right {
    top: initial;
    bottom: 20px;
    right: 65px;
    left: 65px;
    max-width: initial;
    border-radius: 0;
    background-color: rgba(47, 49, 41, 0.8);
    border: none;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
    animation-name: searchAppear;
    animation-duration: 500ms; }
    kb-code-editor .ace_editor .ace_search.right .ace_searchbtn_close {
      background: url("../images/close-search.png") no-repeat 50% 0;
      margin: 0;
      margin-left: 40px; }
    kb-code-editor .ace_editor .ace_search.right .ace_button {
      padding: 4px;
      border: none;
      color: #f1787d; }
      kb-code-editor .ace_editor .ace_search.right .ace_button:hover {
        background-color: #f1787d;
        color: black; }
      kb-code-editor .ace_editor .ace_search.right .ace_button.checked {
        border-bottom: #f1787d solid 2px; }
        kb-code-editor .ace_editor .ace_search.right .ace_button.checked:hover {
          border-bottom: white solid 2px; }
    kb-code-editor .ace_editor .ace_search.right .ace_search_form {
      width: 100%;
      position: relative;
      border: none;
      outline: none;
      border-bottom: #f1787d solid 2px;
      border-radius: 0;
      margin-top: 12px; }
      kb-code-editor .ace_editor .ace_search.right .ace_search_form .ace_search_field {
        width: 100%;
        background: transparent;
        color: #f1787d; }
      kb-code-editor .ace_editor .ace_search.right .ace_search_form .ace_searchbtn {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border: none;
        background-image: url("../images/next.png"); }
        kb-code-editor .ace_editor .ace_search.right .ace_search_form .ace_searchbtn.prev {
          right: 24px;
          background-image: url("../images/prev.png"); }
    kb-code-editor .ace_editor .ace_search.right .ace_replace_form {
      width: 100%;
      border: 0;
      border-bottom: #f1787d solid 2px;
      border-radius: 0;
      position: relative; }
      kb-code-editor .ace_editor .ace_search.right .ace_replace_form .ace_search_field {
        width: 100%;
        background: transparent;
        color: #f1787d; }
      kb-code-editor .ace_editor .ace_search.right .ace_replace_form .ace_replacebtn {
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 4px;
        padding-right: 3px;
        background-color: transparent;
        border: none;
        color: #f1787d; }
        kb-code-editor .ace_editor .ace_search.right .ace_replace_form .ace_replacebtn[action="replaceAndFindNext"] {
          right: 22px; }

@keyframes searchAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

error-view {
  background: black;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }

@keyframes cursor-blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  error-view body {
    background-color: black; }
  error-view .four-oh-four {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    top: 0;
    transition: opacity 300ms ease-out;
    z-index: 2; }
    error-view .four-oh-four .dJAX_internal {
      opacity: 0; }
    error-view .four-oh-four form,
    error-view .four-oh-four input {
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: black; }
  error-view .terminal {
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 4rem;
    position: absolute;
    right: 0;
    top: 0; }
  error-view .terminal .prompt {
    color: #1ff042;
    display: block;
    font-family: 'AndaleMono', monospace;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 1;
    margin-bottom: 0.75em;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
    text-transform: uppercase;
    white-space: pre-wrap; }
  error-view .terminal .prompt:before {
    content: '> ';
    display: inline-block; }
  error-view .terminal .new-output {
    display: inline-block; }
  error-view .terminal .new-output:after {
    animation: cursor-blink 1.25s steps(1) infinite;
    background: #1ff042;
    box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
    content: '';
    display: inline-block;
    height: 1em;
    margin-left: 5px;
    vertical-align: -0.15em;
    width: 0.75em; }
  error-view .kittens p {
    letter-spacing: 0;
    line-height: 1rem;
    opacity: 0; }
  error-view .kitten-gif {
    margin: 3px;
    width: 90%; }
  error-view .four-oh-four-form {
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0; }

file-name .granny-smith-icon {
  color: #91a2a8; }

file-name .hippie-blue-icon {
  color: #5aa1b5; }

file-name .copperfield-icon {
  color: #d28c5d; }

file-name .magic-mint-icon {
  color: #9febc1; }

file-name .tall-poppy-icon {
  color: #a93c2a; }

file-name .red-damask-icon {
  color: #db7e44; }

file-name .jungle-mist-icon {
  color: #b0d1d1; }

file-name .caribbean-green-icon {
  color: #00dfa7; }

file-name .macaroni-and-cheese-icon {
  color: #fdba75; }

file-name .sapling-icon {
  color: #e1dda3; }

file-name .denim-icon {
  color: #176fb2; }

file-name .tuscany-icon {
  color: #cd6732; }

file-name .indigo-icon {
  color: #5e78c0; }

file-name .rose-fog-icon {
  color: #e1afa9; }

file-name .mulberry-icon {
  color: #d1508a; }

file-name .indochine-icon {
  color: #cf7a08; }

file-name .key-line-pie-icon {
  color: #b3ce20; }

file-name .spindle-icon {
  color: #bbc5e9; }

file-name .scarlet-icon {
  color: #ff2f00; }

file-name .blaze-orange-icon {
  color: #ff5d00; }

file-name .selective-yellow-icon {
  color: #ffbc00; }

file-name .primary-color-icon {
  color: #f1787d; }

md-toast.md-success-toast-theme .md-toast-content {
  background-color: #00c853; }

kb-menu-bar .project-logo-container {
  height: 105px;
  width: 105px; }
  kb-menu-bar .project-logo-container .logo {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 90px;
    justify-content: center;
    line-height: 100%;
    width: 90px;
    overflow: hidden;
    z-index: 1;
    position: relative; }
    kb-menu-bar .project-logo-container .logo .kibibit-logo {
      color: #2c2c2c;
      font-size: 200%;
      line-height: 32px;
      text-shadow: 0 1px 1px #3e3e3e; }
    kb-menu-bar .project-logo-container .logo .folder {
      font-size: 200%;
      line-height: 100%; }

kb-menu-bar .md-toolbar-tools {
  padding-top: 28px; }

kb-moving-gears {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.8; }
  kb-moving-gears .load {
    width: 100px;
    height: 80px; }
  kb-moving-gears .gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    animation: spin 5s infinite; }
  kb-moving-gears .two {
    left: 40px;
    width: 80px;
    height: 80px;
    animation: spin-reverse 5s infinite; }
  kb-moving-gears .three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px; }

@keyframes spin {
  50% {
    transform: rotate(360deg); } }

@keyframes spin-reverse {
  50% {
    transform: rotate(-360deg); } }
  kb-moving-gears .lil-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
    width: 100px;
    height: 100px;
    opacity: .65; }
  kb-moving-gears .blur-circle {
    position: absolute;
    top: -19px;
    left: -19px; }

kb-search-project {
  display: inline-block;
  height: auto;
  margin: auto;
  padding: 0;
  position: relative; }
  kb-search-project .search-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    margin: 0;
    padding: 0 10px; }
    kb-search-project .search-btn.open {
      pointer-events: none; }
    kb-search-project .search-btn .search-icon {
      font-size: 22px;
      position: relative;
      top: 7px; }
  kb-search-project .search-input {
    background: none;
    border: 0;
    border-bottom: #ffbc00 2px solid;
    color: #ffbc00;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13.6px;
    font-weight: 300;
    opacity: 0;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    transition: all 300ms ease-out, width 400ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
    width: 0; }
    kb-search-project .search-input::placeholder {
      color: #808080; }
    kb-search-project .search-input::selection {
      background-color: #ffbc00;
      color: #fafafa; }
    kb-search-project .search-input.open {
      opacity: 1;
      padding-left: 7px;
      padding-right: 7px;
      width: 320px; }
    kb-search-project .search-input.blurred {
      border-bottom: #808080 2px solid;
      color: #808080; }
      kb-search-project .search-input.blurred::selection {
        background-color: transparent;
        color: #808080; }

.sidebar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  white-space: nowrap;
  width: 100%; }

.sidebar-container {
  background: #464646;
  color: #f1787d;
  overflow: hidden;
  padding: 10px; }

.status-bar {
  align-items: center;
  background: #464646;
  color: #f1787d;
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative; }
  .status-bar .status-bar-float-right {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center; }
    .status-bar .status-bar-float-right md-input-container {
      margin: 0; }
      .status-bar .status-bar-float-right md-input-container .md-select-icon {
        display: none; }

.status-bar-selector {
  transform: translateY(-24px); }

kb-view-by-file .view-by-file {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }
  kb-view-by-file .view-by-file .img-view-container {
    height: 100%;
    overflow-x: hidden;
    text-align: center;
    vertical-align: top;
    /* inner img is centered horizontally */
    width: 100%;
    /* needed */ }
    kb-view-by-file .view-by-file .img-view-container .viewer-container {
      background-color: transparent; }
    kb-view-by-file .view-by-file .img-view-container .img-view {
      bottom: 0;
      left: 0;
      margin: auto;
      max-height: 70%;
      max-width: 70%;
      object-fit: contain;
      padding: auto;
      position: absolute;
      right: 0;
      top: 0; }
    kb-view-by-file .view-by-file .img-view-container .viewer-prev,
    kb-view-by-file .view-by-file .img-view-container .viewer-next {
      display: none; }

.zombie-0 {
  animation-direction: normal, normal, normal;
  animation-duration: 50s, 1s, 50s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-name: zombiemove, zombiewalk, mirror;
  animation-timing-function: linear, steps(2, end), steps(1, end);
  background: url("../images/zombiewalk.png");
  bottom: 10px;
  cursor: crosshair;
  height: 57px;
  left: 0%;
  position: fixed;
  width: 63px;
  z-index: 999999; }

@keyframes zombiewalk {
  from {
    background-position: 0 0; }
  to {
    background-position: -126px 0; } }

@keyframes zombiemove {
  0% {
    left: 0%; }
  50% {
    left: 95%; }
  100% {
    left: 0%; } }

@keyframes mirror {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(-1); }
  100% {
    transform: scaleX(1); } }

.zombie-1 {
  animation-direction: normal, normal, normal;
  animation-duration: 50s, 1s, 50s;
  animation-iteration-count: infinite, infinite, infinite;
  animation-name: zombiemove-two, zombiewalk, mirror-two;
  animation-timing-function: linear, steps(2, end), steps(1, end);
  background: url("../images/zombiewalk.png");
  bottom: 10px;
  cursor: crosshair;
  height: 57px;
  left: 95%;
  position: fixed;
  width: 63px;
  z-index: 999999; }

@keyframes zombiemove-two {
  0% {
    left: 95%; }
  50% {
    left: 0%; }
  100% {
    left: 95%; } }

@keyframes mirror-two {
  0% {
    transform: scaleX(-1); }
  50% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(-1); } }

#overlay {
  color: #000;
  font-size: 72px;
  font-weight: 600;
  opacity: 0;
  position: fixed;
  right: 35%;
  top: 50%;
  z-index: 99999; }

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  25% {
    opacity: 1;
    transform: scale(1.05); }
  50% {
    transform: scale(0.9); }
  75% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1); } }

.bounceIn {
  animation: bounceIn 1.5s; }
