<div class="view-by-file" ng-switch="viewByFileCtrl.fileType">
	<kb-code-editor kb-open-file="viewByFileCtrl.fileInfo" ng-switch-default></kb-code-editor>
	<div class="img-view-container" ng-switch-when="image">
		<img kb-full-image-view class="img-view" ng-src="{{ viewByFileCtrl.imageUri }}">
	</div>
	<kb-font-viewer ng-switch-when="font" kb-open-font="viewByFileCtrl.fileInfo">
	</kb-font-viewer>
	<kb-audio-player ng-switch-when="audio" kb-audio-file="viewByFileCtrl.fileInfo"></kb-audio-player>
	<error-view ng-switch-when="error"></error-view>
</div>