<md-toolbar class="md-menu-dark">
    <div layout="row">
        <md-toolbar-filler layout layout-align="center center">
            <md-icon md-svg-icon="call:chat"></md-icon>
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">{{main.projectFolderPath}}</h2>
            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        File
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">insert_drive_file</md-icon>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">New</md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="menuBarCtrl.sampleAction('New Document', $event)">Document</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="menuBarCtrl.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="menuBarCtrl.sampleAction('New Presentation', $event)">Presentation</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="menuBarCtrl.sampleAction('New Form', $event)">Form</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="menuBarCtrl.sampleAction('New Drawing', $event)">Drawing</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">gradient</md-icon>
                            <md-button ng-click="main.openProject()">
                                Open Project...
                                <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons" style="color: rgba(0, 0, 0, 0.258824)">save</md-icon>
                            <md-button disabled="disabled" ng-click="menuBarCtrl.sampleAction('Rename', $event)">
                                Save
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">print</md-icon>
                            <md-button ng-click="menuBarCtrl.sampleAction('Print', $event)">
                                Print
                                <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">share</md-icon>
                            <md-button ng-click="menuBarCtrl.sampleAction('share', $event)">
                                Share...
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Edit
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons" ng-style="{color: menuBarCtrl.enableUndo ? '' : 'rgba(0, 0, 0, 0.258824)'}">undo</md-icon>
                            <md-button ng-click="menuBarCtrl.settings.currentUndoManager.undo() && menuBarCtrl.settings.currentEditor.focus()" ng-disabled="!menuBarCtrl.hasUndo()">
                                Undo
                                <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons" ng-style="{color: menuBarCtrl.enableRedo ? '' : 'rgba(0, 0, 0, 0.258824)'}">redo</md-icon>
                            <md-button ng-click="menuBarCtrl.settings.currentUndoManager.redo() && menuBarCtrl.settings.currentEditor.focus()" ng-disabled="!menuBarCtrl.hasRedo()">
                                Redo
                                <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">content_cut</md-icon>
                            <md-button ngclipboard ngclipboard-success="menuBarCtrl.cutSelection(e);" data-clipboard-text="{{ menuBarCtrl.settings.currentEditor.session.getTextRange(menuBarCtrl.settings.currentEditor.getSelectionRange()) }}">
                                Cut
                                <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">content_copy</md-icon>
                            <md-button ngclipboard ngclipboard-success="menuBarCtrl.settings.currentEditor.focus()" data-clipboard-text="{{ menuBarCtrl.settings.currentEditor.session.getTextRange(menuBarCtrl.settings.currentEditor.getSelectionRange()) }}">
                                Copy
                                <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons" style="color: rgba(0, 0, 0, 0.258824)">content_paste</md-icon>
                            <md-button ng-click="menuBarCtrl.paste()" disabled="disabled">
                                Paste
                                <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">find_in_page</md-icon>
                            <md-button ng-click="menuBarCtrl.sampleAction('Find and replace', $event)">
                                Find and replace...
                                <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        View
                    </button>
                    <md-menu-content>
                        <md-menu-item type="checkbox" ng-model="menuBarCtrl.settings.printLayout">Print layout</md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">Mode</md-button>
                                <md-menu-content width="3">
                                    <md-menu-item type="radio" ng-model="menuBarCtrl.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>
                                    <md-menu-item type="radio" ng-model="menuBarCtrl.settings.presentationMode" value="'edit'">Edit</md-menu-item>
                                    <md-menu-item type="radio" ng-model="menuBarCtrl.settings.presentationMode" value="'modifiable'">Modifiable</md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item type="checkbox" ng-model="menuBarCtrl.settings.showRuler">Show ruler</md-menu-item>
                        <md-menu-item type="checkbox" ng-model="menuBarCtrl.settings.showEquationToolbar">Show equation toolbar</md-menu-item>
                        <md-menu-item type="checkbox" ng-model="menuBarCtrl.settings.showSpellingSuggestions">Show spelling suggestions</md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item type="checkbox" ng-model="menuBarCtrl.settings.compactControls">Compact controls</md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">{{ main.settings.isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</md-icon>
                            <md-button ng-click="main.goFullscreen()">
                                Fullscreen
                                <span class="md-alt-text"> {{ 'F12' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Format
                    </button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('bold', $event)">
                                Bold
                                <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('italic', $event)">
                                Italic
                                <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('underline', $event)">
                                Underline
                                <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('strikethrough', $event)">
                                Strikethrough
                                <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('superscript', $event)">
                                Superscript
                                <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.sampleAction('subscript', $event)">
                                Subscript
                                <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="menuBarCtrl.toggleSetting('clearFormatting')">Clear Formatting</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        Testing
                    </button>
                    <md-menu-content>
                        <md-menu-item class="md-indent">
                            <md-icon class="material-icons">web_asset</md-icon>
                            <md-button ng-click="main.showAModal()">
                                Modal Example
                                <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>
