<!--<input type="range" id="myRange" min="30" max="150" value="fontViewerCtrl.fontSize" ng-model="fontViewerCtrl.fontSize"-->
       <!--ng-change="fontViewerCtrl.redrawFont()">-->


<!--<input id="file" type="file">-->
<span class="info" id="font-name">{{fontViewerCtrl.fontName}}</span>
<!--<div id="message"></div>-->

<div class="glyphs-table-container">
  <div id="glyph-list-end"></div>
  Glyphs <span id="pagination"></span>
</div>
<div class="glyph-view-container">
  <div id="glyph-display">
    <canvas id="glyph-bg" width="250" height="250"></canvas>
    <canvas id="glyph" width="250" height="250"></canvas>
  </div>
  <div id="glyph-data"></div>
  <div style="clear: both"></div>
</div>

<!--<canvas width="940" height="500" id="font-canvas"></canvas>-->

