<div class="project-tree-container" ng-if="ngDialogData.userHomeDirectoryPath" ng-scrollbars>
  <kb-file-tree
    kb-file-tree-path="ngDialogData.userHomeDirectoryPath" 
    kb-file-tree-options="{selectionMode: 'folder', theme: 'tree'}"
    kb-file-tree-selection="ngDialogData.selectedProjectFolder">
  </kb-file-tree>
</div>
<div class="buttons">
    <button 
      class="btn" 
      ng-click="closeThisDialog(ngDialogData.selectedProjectFolder)">
        Select
    </button>
    <button class="btn" ng-click="closeThisDialog(0)">Close</button>
</div>
