// BASIC COLORS
$precentage: 10%;
// DARK
$black: rgb(0, 0, 0);
$grey1: rgb(38, 38, 38);
$grey2: rgb(46, 46, 46);
$grey3: rgb(57, 57, 57);
$grey4: grey;
$dark-white: rgb(245, 245, 245);
$white: rgb(250, 250, 250);
// LIGHT

$transparent: transparent;
$candy-red: rgb(255, 82, 82);
$candy-yellow: rgb(255, 188, 0);
$candy-green: rgb(0, 200, 83);
$candy-blue: rgb(0, 176, 255);

// COLORS BY ROLE
$darken-main: $grey1;
$main: $grey2;
$lighten-main: $grey3;
$darken-bright: darken($dark-white , $precentage);
$bright: $dark-white;
$lighten-bright: lighten($dark-white, $precentage);
$darken-bark: darken($black, $precentage);
$dark: $black;
$lighten-dark: lighten($black , $precentage);
$darken-primary: darken($candy-yellow , $precentage);
$primary: $candy-yellow;
$lighten-primary: lighten($candy-yellow , $precentage);
$darken-secondary: darken($transparent , $precentage);
$secondary: $transparent;
$lighten-secondary: lighten($transparent, $precentage);
$darken-warning: darken($candy-red , $precentage);
$warning: $candy-red;
$lighten-warning: lighten($candy-red , $precentage);

$color1: rgb(70, 70, 70);
$color2: #808080;
$color3: rgb(38, 38, 38);
