// scss-lint:disable NestingDepth
// scss-lint:disable SelectorDepth

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

.main-app-container {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 1s;

  &.app-initiated {
    opacity: 1;
  }
}

.loading-logo {
  transition: all 500ms ease;
  transition-delay: 800ms;

  &.app-initiated {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

html {
  background: $color1;
  // REM UNIT //
  font-size: 14px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $color1;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: $color2;
}

body,
.ui-layout-column > .ui-splitbar {
  background: $color1;
  z-index: 5;
}

.ui-layout-column > .ui-splitbar .glyphicon {
  color: $color2;
}

.menu-bar-container {
  background: $color1;
  overflow: hidden;

  @include phone {
    // scss-lint:disable ImportantRule
    height: 48px !important;
    overflow: hidden;
    // scss-lint:enable ImportantRule
  }
}

@include phone {
  // scss-lint:disable ImportantRule
  .main-area {
    height: calc(100vh - 52px - 30px) !important;
    top: 52px !important;
  }
  // scss-lint:enable ImportantRule
}

.main-view-container {
  background: $color3;
  color: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;

  @include phone {
    // scss-lint:disable ImportantRule
    border-left: 10px solid $color1;
    bottom: 0;
    left: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important;
    z-index: 90;
    // scss-lint:enable ImportantRule
  }
}

.menu-button {
  color: $primary;
  display: none;
  fill: $primary;

  @include phone {
    display: inline-block;
    position: relative;
    top: 9px;
  }
}

.tabs {
  height: 50px;
}

.main-view {
  border-right: $color1 solid 10px;
  border-top: $color1 solid 10px;
  flex-grow: 1;
  position: relative;
}

md-toolbar {
  &.md-menu-dark {
    background-color: $color1;
    color: $primary;
  }

  h2 {
    &.md-toolbar-tools {
      color: $primary;

      @include phone {
        display: none;
      }
    }
  }
}

.ui-layout-column,
.ui-layout-row,
.ui-splitbar {
  overflow: hidden;
}

file-name {
  &.directory {
    font-weight: normal;
  }
}

treecontrol {
  display: inline-block;

  * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .tree-expanded,
  .tree-collapsed {
    .tree-branch-head {
      background: $color2 !important;
      -webkit-mask-size: cover !important;
      mask-size: cover;
      pointer-events: none;
    }
  }

  .tree-expanded .tree-branch-head {
    -webkit-mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
  }

  .tree-collapsed .tree-branch-head {
    -webkit-mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
  }

  li .tree-label {
    left: -16px;
    padding-left: 16px;
    position: relative;
  }
}

.ngdialog {
  overflow: hidden;

  &.ngdialog-theme-default .ngdialog-content {
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: 600px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;

    .project-tree-container {
      bottom: 50px;
      left: 14px;
      min-height: 0;
      position: absolute;
      right: 14px;
      top: 28px;
    }

    .buttons {
      background: $white;
      bottom: 0;
      left: 0;
      padding: 8px;
      position: absolute;
      right: 0;
    }
  }

  .tree-selected {
    file-name {
      &.directory {
        font-weight: bold;
      }
    }
  }
}

.wrap {
  word-wrap: break-word;
}

kb-file-tree {
  display: block;
}

// change styling for all angular-material select input menu
md-select-menu {
  md-content {
    background-color: $color1;
    color: $color2;
  }

  md-option {
    height: 2rem;

    // this is important because we want to override the
    // original style: &:focus:not([disabled]):not([selected])
    &:focus:not([disabled]):not([selected]) {
      background: rgba($darken-main, 0.7);
    }

    &[selected] {
      color: $primary;

      // this is important because we want to apply the style
      // to the selected item (which is excluded in the previous styling rule)
      &:focus:not([disabled]) {
        background: rgba($darken-main, 0.7);
        color: $primary;
      }
    }

    .md-text {
      font-size: 1rem;
    }
  }
}

md-input-container {
  margin: 0;

  md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: $primary;
    color: $primary;
  }

  .md-select-icon {
    display: none;
  }
}

// scss-lint:disable IdSelector
#loading-bar-spinner .spinner-icon {
  border: solid 4px transparent;
  border-left-color: $primary;
  border-top-color: $primary;
  height: 16px;
  width: 16px;
}

#loading-bar .bar {
  background: $primary;
  height: 4px;

  .peg {
    display: none;
  }
}
// scss-lint:enable IdSelector
// scss-lint:enable NestingDepth
// scss-lint:enable SelectorDepth

