// BASIC COLORS
$precentage: 10%;
// DARK
$black: rgb(0, 0, 0);
$grey1: rgb(38, 38, 38);
$grey2: rgb(46, 46, 46);
$grey3: rgb(57, 57, 57);
$dark-white: rgb(245, 245, 245);
$white: rgb(250, 250, 250);
/* LIGHT */

$transparent: rgba(255, 255, 255, 0);
$candy-red: rgb(255, 82, 82);
$candy-yellow: rgb(255, 188, 0);
$candy-green: rgb(0, 200, 83);
$candy-blue: rgb(0, 176, 255);

// COLORS BY ROLE
$darken-main: $grey1;
$main: $grey2;
$lighten-main: $grey3;
$darken-bright: darken($dark-white , $precentage);
$bright: $dark-white;
$lighten-bright: lighten($dark-white, $precentage);
$darken-bark: darken($black, $precentage);
$dark: $black;
$lighten-dark: lighten($black , $precentage);
$darken-primary: darken($candy-yellow , $precentage);
$primary: $candy-yellow;
$lighten-primary: lighten($candy-yellow , $precentage);
$darken-secondary: darken($transparent , $precentage);
$secondary: $transparent;
$lighten-secondary: lighten($transparent, $precentage);
$darken-warning: darken($candy-red , $precentage);
$warning: $candy-red;
$lighten-warning: lighten($candy-red , $precentage);

$color1: rgb(70, 70, 70);
$color2: #808080;
$color3: rgb(38, 38, 38);


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

code-editor {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .editor {
    height: 100%;
    width: 100%;
  }
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: $color2;
}

.status-bar {
  align-items: center;
  background: $color1;
  color: $primary;
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
  margin-right: 5px;
}

body,
.ui-splitbar {
  background: $color1;
  z-index: 5;
}

.ui-splitbar .glyphicon {
  color: $color2;
}

.menu-bar-container {
  background: $color1;
  overflow: hidden;
}

.main-view-container {
  background: $color3;
  color: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tabs {
  height: 50px;
}

.main-view {
  border-right: $color1 solid 10px;
  border-top: $color1 solid 10px;
  flex-grow: 1;
  position: relative;
}

md-toolbar {
  &.md-menu-dark {
    background-color: $color1;
    color: $primary;
  }

  h2 {
    &.md-toolbar-tools {
      color: $primary;
    }
  }
}

.ngdialog {
  overflow: hidden;
}

.ui-layout-column,
.ui-layout-row,
.ui-splitbar {
  overflow: hidden;
}

file-name {
  &.directory {
    font-weight: normal;
  }
}

treecontrol {

  * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .tree-expanded,
  .tree-collapsed {
    background: $color2 !important;
    -webkit-mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    pointer-events: none;
  }

  .tree-expanded .tree-branch-head {
    -webkit-mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
  }

  .tree-collapsed .tree-branch-head {
    -webkit-mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
  }
}