// scss-lint:disable NestingDepth
// scss-lint:disable SelectorDepth

// BASIC COLORS
$precentage: 10%;
// DARK
$black: rgb(0, 0, 0);
$grey1: rgb(38, 38, 38);
$grey2: rgb(46, 46, 46);
$grey3: rgb(57, 57, 57);
$dark-white: rgb(245, 245, 245);
$white: rgb(250, 250, 250);
// LIGHT

$transparent: rgba(255, 255, 255, 0);
$candy-red: rgb(255, 82, 82);
$candy-yellow: rgb(255, 188, 0);
$candy-green: rgb(0, 200, 83);
$candy-blue: rgb(0, 176, 255);

// COLORS BY ROLE
$darken-main: $grey1;
$main: $grey2;
$lighten-main: $grey3;
$darken-bright: darken($dark-white , $precentage);
$bright: $dark-white;
$lighten-bright: lighten($dark-white, $precentage);
$darken-bark: darken($black, $precentage);
$dark: $black;
$lighten-dark: lighten($black , $precentage);
$darken-primary: darken($candy-yellow , $precentage);
$primary: $candy-yellow;
$lighten-primary: lighten($candy-yellow , $precentage);
$darken-secondary: darken($transparent , $precentage);
$secondary: $transparent;
$lighten-secondary: lighten($transparent, $precentage);
$darken-warning: darken($candy-red , $precentage);
$warning: $candy-red;
$lighten-warning: lighten($candy-red , $precentage);

$color1: rgb(70, 70, 70);
$color2: #808080;
$color3: rgb(38, 38, 38);

.main-app-container {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: 1s;

  &.app-initiated {
    opacity: 1;
  }
}

.loading-logo {
  transition: all 500ms ease;
  transition-delay: 800ms;

  &.app-initiated {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

html {
  background: $color1;
  /* REM UNIT */
  font-size: 14px;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $color1;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: $color2;
}

.status-bar {
  align-items: center;
  background: $color1;
  color: $primary;
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;

  .status-bar-float-right {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;

    md-input-container {
      margin: 0;

      md-select:not([disabled]):focus .md-select-value {
        border-bottom-color: $primary;
        color: $primary;
      }

      .md-select-icon {
        display: none;
      }
    }
  }
}

body,
.ui-layout-column > .ui-splitbar {
  background: $color1;
  z-index: 5;
}

.ui-layout-column > .ui-splitbar .glyphicon {
  color: $color2;
}

.menu-bar-container {
  background: $color1;
  overflow: hidden;
}

.main-view-container {
  background: $color3;
  color: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.tabs {
  height: 50px;
}

.main-view {
  border-right: $color1 solid 10px;
  border-top: $color1 solid 10px;
  flex-grow: 1;
  position: relative;
}

md-toolbar {
  &.md-menu-dark {
    background-color: $color1;
    color: $primary;
  }

  h2 {
    &.md-toolbar-tools {
      color: $primary;
    }
  }
}

.ui-layout-column,
.ui-layout-row,
.ui-splitbar {
  overflow: hidden;
}

file-name {
  &.directory {
    font-weight: normal;
  }
}

treecontrol {
  display: inline-block;

  * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .tree-expanded,
  .tree-collapsed {
    .tree-branch-head {
      background: $color2 !important;
      -webkit-mask-size: cover !important;
      mask-size: cover;
      pointer-events: none;
    }
  }

  .tree-expanded .tree-branch-head {
    -webkit-mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-down.svg") no-repeat 50% 50%;
  }

  .tree-collapsed .tree-branch-head {
    -webkit-mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
    mask: url("../images/chevron-right.svg") no-repeat 50% 50%;
  }
}

markdown-editor {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  .half-editor {
    display: inline-block;
    height: 100%;
    width: 50%;
  }

  .half-json {
    bottom: 0;
    display: inline-block;
    left: 50%;
    overflow: auto;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ngdialog {
  overflow: hidden;

  &.ngdialog-theme-default .ngdialog-content {
    bottom: 0;
    left: calc(50vw - 225px);
    margin: auto;
    max-height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10;

    .project-tree-container {
      bottom: 50px;
      left: 14px;
      min-height: 0;
      position: absolute;
      right: 14px;
      top: 28px;
    }

    .buttons {
      background: $white;
      bottom: 0;
      left: 0;
      padding: 8px;
      position: absolute;
      right: 0;
    }
  }

  .tree-selected {
    file-name {
      &.directory {
        font-weight: bold;
      }
    }
  }
}

.wrap {
  word-wrap: break-word;
}

json-editor {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;

  .half-editor {
    display: inline-block;
    height: 100%;
    width: 50%;
  }

  .half-json {
    bottom: 0;
    display: inline-block;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 49%;
  }
}

kb-file-tree {
  display: block;
}

// scss-lint:disable IdSelector
#loading-bar-spinner .spinner-icon {
  border: solid 4px transparent;
  border-left-color: $primary;
  border-top-color: $primary;
  height: 16px;
  width: 16px;
}

#loading-bar .bar {
  background: $primary;
  height: 4px;

  .peg {
    display: none;
  }
}

.status-bar-selector {
  transform: translateY(-24px);

  md-option {
    height: 2rem;

    .md-text {
      font-size: 1rem;
    }
  }
}
// scss-lint:enable IdSelector
// scss-lint:enable NestingDepth
// scss-lint:enable SelectorDepth
