$important: rgb(255, 188, 0);
$color1: rgb(70, 70, 70);
$color2: grey;
$color3: rgb(38, 38, 38);


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

code-editor {
	bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .editor {
    height: 100%;
    width: 100%;
  }
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down {
  color: $color2;
}

.status-bar {
  align-items: center;
  background: $color1;
  color: $important;
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-left: 5px;
  margin-right: 5px;
}

body,
.ui-splitbar {
  background: $color1;
  z-index: 5;
}

.ui-splitbar .glyphicon {
  color: $color2;
}

.menu-bar-container {
  background: $color1;
  overflow: hidden;
}

.sidebar-container,
.main-view-container {
  background: $color3;
  color: $important;
}

.sidebar-container {
  background: $color1;
  overflow: hidden;
  padding: 10px;
}

.main-view-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tabs {
  height: 50px;
}

.main-view {
  border-top: $color1 solid 10px;
  border-right: $color1 solid 10px;
  flex-grow: 1;
  position: relative;
}

.sidebar {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  white-space: nowrap;
  width: 100%;
}

md-toolbar.md-menu-dark {
  background-color: $color1;
  color: $important;
}

md-toolbar h2.md-toolbar-tools {
  color: $important;
}

.ngdialog {
  overflow: hidden;
}

.ui-layout-column,
.ui-layout-row,
.ui-splitbar {
  overflow: hidden;
}

treecontrol * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}